@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Nunito:wght@400;800&display=swap');

$family-sans-serif:"Nunito",sans-serif;
$input-border-color:transparent;
$input-shadow:none;

html,body{
height:100%;
}
html{
    background-image: url('assets/background.svg');
    background-size: cover;

    overflow-y: auto !important;
}